In [1]:
import pandas as pd
import numpy as np

In [6]:
#universal functions in pandas- inherited from numpy 
#unary operators - preserce index and column labels in output
#binary operators - align indices 
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0,10,4))
print(ser)
df = pd.DataFrame(rng.randint(0,10,(3,4)), 
                 columns = ['a', 'b','c','d'])
print(df)

0    6
1    3
2    7
3    4
dtype: int64
   a  b  c  d
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [8]:
#apply unary Ufuncs
print("exponential on series: ", np.exp(ser))
print("sin function on dataframe: ",np.sin(df*np.pi))

exponential on series:  0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64
sin function on dataframe:                a             b             c             d
0 -7.347881e-16  1.102182e-15 -2.449294e-16 -7.347881e-16
1  8.572528e-16 -4.898587e-16  3.673940e-16  8.572528e-16
2  8.572528e-16 -2.449294e-16  6.123234e-16 -4.898587e-16

In [12]:
#apply binary Ufuncs
area = pd.Series({'Alaska': 17.2, 'Texas': 6.9, 'California': 4.2})
print(area)
population = pd.Series({'New York': 196.5, 'Texas': 264.4, 'California': 383.3})
print(population)
print("population density: ", population/area)

Alaska        17.2
Texas          6.9
California     4.2
dtype: float64
New York      196.5
Texas         264.4
California    383.3
dtype: float64
population density:  Alaska              NaN
California    91.261905
New York            NaN
Texas         38.318841
dtype: float64

In [14]:
print("union of index in 2 series: ", area.index | population.index)
print("union of index in 2 series: ", area.index.union(population.index))

union of index in 2 series:  Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')
union of index in 2 series:  Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

<ipython-input-14-a0b7517d5c27>:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  print("union of index in 2 series: ", area.index | population.index)

In [15]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A + B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [16]:
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [35]:
#index alignment while using Ufuncs on dataframes
rng = np.random.RandomState(42)
df1 = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                 columns=list('AB'))
print("df1 is: ",df1)

df2 = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
print("df2 is: ",df2)
print(df1.add(df2))

print(df2)
print(df1.add(df2, fill_value =df1.stack().mean()))

df1 is:      A   B
0   6  19
1  14  10
df2 is:     B  A  C
0  7  4  6
1  9  2  6
2  7  4  3
      A     B   C
0  10.0  26.0 NaN
1  16.0  19.0 NaN
2   NaN   NaN NaN
   B  A  C
0  7  4  6
1  9  2  6
2  7  4  3
       A      B      C
0  10.00  26.00  18.25
1  16.00  19.00  18.25
2  16.25  19.25  15.25

In [36]:
#dataframe and series in operator
df2 - df2.iloc[0]

   B  A  C
0  0  0  0
1  2 -2  0
2  0  0 -3